<launch>
    <arg name="sam_checkpoint" default="$(find drake)/sam_vit_h_4b8939.pth"/>
    <arg name="image_topic" default="/bottom/color/image_raw"/>
    <arg name="depth_topic" default="/bottom/depth/color/points"/>
    <arg name="yolo_model" default="yolov8n.pt"/>
    <arg name="rate" default="80"/>
    <arg name="device" default="cpu"/>
    <arg name="classes" default=""/>
    <node name="drake" pkg="drake" type="drake_ps_node">
        <param name="sam_checkpoint" value="$(arg sam_checkpoint)"/>
        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="depth_topic" value="$(arg depth_topic)"/>
        <param name="yolo_model" value="$(arg yolo_model)"/>
        <param name="rate" value="$(arg rate)"/>
        <param name="device" value="$(arg device)"/>
        <param name="classes" value="$(arg classes)"/>
    </node>
</launch>
