<launch>
    <arg name="sam-checkpoint" default="$(find drake)/sam_vit_h_4b8939.pth"/>
    <arg name="image-topic" default="/bottom/color/image_raw"/>
    <arg name="depth-topic" default="/bottom/aligned_depth_to_color/image_raw"/>
    <arg name="yolo-model" default="yolov8n.pt"/>
    <arg name="rate" default="60"/>
    <arg name="device" default="cpu"/>
    <arg name="classes" default=""/>
    <node name="drake" pkg="drake" type="drake_ps_node">
        <param name="sam-checkpoint" value="$(arg sam-checkpoint)"/>
        <param name="image-topic" value="$(arg image-topic)"/>
        <param name="depth-topic" value="$(arg depth-topic)"/>
        <param name="yolo-model" value="$(arg yolo-model)"/>
        <param name="rate" value="$(arg rate)"/>
        <param name="device" value="$(arg device)"/>
        <param name="classes" value="$(arg classes)"/>
    </node>
</launch>